BALLBMP BITMAP "ball.bmp" // can be found in the Templates folder, please copy to the project folder
MASKBMP BITMAP "ballmask.bmp" // as above
gggxchv\znbv  hsvxjv hayfcyuv xshxcyf xhvyxfy  HVFvVXFFVvhuyfvusvvdjbg/ds
ksb svjugbc uc\JKB B DJSBJ  HOI BJHASGUGGV HDHBGUGBCD hwehigbiug;whDIHIOHIGHBHEDGBNBN   GTguwg Vghgb.jbsjguatggbubcbu  sayoihIBIODQ
OKSHB,MBCS,MB
CMLKNHNKJCG/ABOIHNFDV
NKL/KVFNZS M,qdgiugviugwsbiugqw'd'G\a\''ibn doio OIIHPO DPWJH8BD  CLIUGBqsfqihd bi hdxugdI;HBCOHBLKHVLKN DVF#

,NLKHODN  IODLKNA.gviuc cbnbcanoljve#]
cvfpoJ bool result(){
	for(int i=0;i<n/2;i++);
	if(a[i]==a[n-i-1]){
		result=true;
		}else
		{result=false;
		return result;
	}ajvanbzbb z\z
	 kjhbidvf lkahin ncdohopdhnklbva
	 azvkljafvdj bool result(){
	for(int i=0;i<n/2;i++);
	if(a[i]==a[n-i-1]){
		result=true;
		}else
		{result=false;
		return result;
	}hnkvhfophpoSV bool result(){
	for(int i=0;i<n/2;i++);
	if(a[i]==a[n-i-1]){
		result=true;
		}else
		{result=false;
		return result;
	}
	POH? bool result(){
	for(int i=0;i<n/2;i++);
	if(a[i]==a[n-i-1]){
		result=true;
		}else
		{result=false;
		return result;
	}jojjpdxsjjop
